.Member-container{
    display: grid;
    grid-template-columns:  1fr 1fr 1fr ;
}
.cart-container{
   
    margin-right: 5px;
   
}
.Members-container{
    display: flex;
    justify-content: space-evenly;
 
}