.Programmer-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.HiredProgrammer-Container {
  margin-right: 5px;
}
.Programmers-container {
  display: flex;
  justify-content: space-evenly;
}
